#navigation-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

#navigation-buttons ul {
  list-style-type: none;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 10px;
}

#navigation-buttons a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4287f5;
  color: white;
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  user-select: none;
}

#navigation-buttons a:hover {
  background-color: #2257ac;
}

#banner {
  background-color: rgba(44, 44, 228, 0.748);
  width: 100vw;
  height: 70px;
  display: flex;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  background-image: url("../assets/nav-banner.png");
}

#header {
  display: inline-block;
  padding-left: 8px;
  color: rgb(188, 208, 231);
  text-shadow: 3px 1px 2px rgba(32, 31, 31, 0.75);
}

body {
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: rgba(171, 207, 239, 0.252);
}
